<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="box place-box {{#unless loc_id}}no-loc{{/unless}}">
    <div class="media-body">
      <div class="ops">
        <a href="{{url 'place#show' id}}">
          <i class="icon-file"></i>
          <!--{{t 'detail'}}-->
        </a>
        <a href="" data-op="toDestroy">
          <i class="icon-remove"></i>
          <!--{{t 'delete'}}-->
        </a>
      </div>
      <h5 class="title">
        {{name}}
      </h5>
      <div class="map">
        <a href="{{url 'place#show' id}}">
          {{#if inChina}}
            <img class="img-rounded" src="{{mapImg lat lng '273*120'}}" alt="">
          {{else}}
            <img class="img-rounded" src="{{gmapImg lat lng '273*120'}}" alt="">
          {{/if}}
        </a>
      </div>
    </div>
  </div>
</div>
