{{#widget 'heading2' back='javascript:history.go(-1);'}}
{{#set 'title'}}
  {{#if isNew}}
    {{t 'places.create'}}
  {{else}}
    {{t 'places.edit' name}}
  {{/if}}
{{/set}}
{{#if fromCreate}}
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-op="dissmissAlert">&times;</button>
    {{t 'create.success'}}
    <a href="{{url 'place#create'}}">{{t 'create.continue'}}</a>
  </div>
{{/if}}
{{/widget}}
<div class="big-box">
  <form class="edit-form form-horizontal" method="post">
    {{#form_rows 'sm' 1 7 }}
    <div class="form-group">
      <label class="col-sm-1 control-label" for="selloc-country">
        {{t 'place.city'}}
      </label>
      <div class="col-sm-7 loc-selector">
      </div>
      <div class="col-sm-4">
        {{#if isSuper}}
        <small>
          <a target="_blank" class="text-muted" href="{{url 'super/loc#index'}}">{{t 'locs.edit_city'}}</a>
        </small>
        {{/if}}
      </div>
    </div>
    <div class="form-group" for="address">
      <label class="col-sm-1 control-label">
        {{ t 'place.location' }}
      </label>
      <div class="col-sm-7">
        <div class="form-tip" for="address"></div>
        <div class="map-control map-autocomplete">
          <input name="address" value="{{address}}" class="typeahead form-control searcher" type="text" placeholder="{{t 'place.address_tip'}}" >
        </div>
        <div id="place-marker"></div>
      </div>
      <div class="col-sm-3">
        <h5>
          {{#if channels}}
            {{t 'place.related_channel'}}
            <span class="text-muted">
              (<a href="#" data-op="chooseChannel">{{t 'update'}}</a>)
            </span>
          {{else}}
            <a href="#" data-op="chooseChannel">{{t 'place.related_channel'}}</a>
          {{/if}}
        </h5>
        <div class="place-channels">
        </div>
      </div>
    </div>
    <div class="form-group" for="geo">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
        <input class="form-control" id="inp-lng" type="text" name="lng" value="{{lng}}" placeholder="{{t 'place.lng'}}">
      </div>
      <div class="col-sm-2">
        <input class="form-control" id="inp-lat" type="text" name="lat" value="{{lat}}" placeholder="{{t 'place.lat'}}">
      </div>
    </div>
    <hr>
    <div class="form-group" for="name">
      <label for="input-name" class="col-sm-1 control-label">{{t 'name'}}</label>
      <div class="col-sm-7">
        <input class="form-control input-name" name="name" value="{{name}}">
        <div class="help-block form-tip" for="name"></div>
      </div>
    </div>
    {{form_input 'phone' phone 'place.phone' 'place.phone_tip'}}
    {{form_input 'headimg' headimg 'place.headimg' 'place.headimg_tip'}}
    <div class="form-group" for="intro">
      <label for="input-intro" class="col-sm-1 control-label">说明</label>
      <div class="col-sm-7">
        <textarea placeholder="可以使用HTML" rows="8"
          class="form-control input-intro" name="intro"
        >{{intro}}</textarea>
        <div class="form-tip" for="intro"></div>
      </div>
      <div class="col-sm-4">
        <p class="text-muted">
        {{t 'place.scan_to_see'}}
        </p>
        {{#unless isNew}}
          <div class="qrcode">
          </div>
        {{/unless}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-7 col-sm-offset-1">
        <button type="submit" class="btn btn-primary">{{t 'save'}}</button>
        {{# if id}}
        &nbsp;
        <a class="pull-right" target="_blank" href="{{consts.PAGE_ROOT}}/place/{{id}}">
          {{t 'preview'}}
        </a>
        {{/if}}
      </div>
    </div>
    {{/form_rows}}
  </form>
</div>

