{{#widget 'heading2' back='/super/locs'}}
{{#set 'title'}}
  {{#if isNew}}
    {{t 'locs.create'}}
  {{else}}
    {{t 'locs.edit' id}}
  {{/if}}
{{/set}}
{{/widget}}
<div class="box clearfix">
  <form class="main-content edit-form form-horizontal" method="post">
    <div class="rows">
      <div class="col-sm-8">
        {{#form_rows 'sm' 2}}
          {{form_input 'id' id 'ID' 'place.id_tip'}}
          <div class="form-group" for="level">
            <label for="input-name" class="col-sm-2 control-label">{{t 'loc.level'}}</label>
            <div class="col-sm-4">
              <select class="form-control" name="level">
                <option value="country">{{t 'loc.country'}}</option>
                <option value="province">{{t 'loc.province'}}</option>
                <option value="city">{{t 'loc.city'}}</option>
                <option value="district">{{t 'loc.district'}}</option>
              </select>
            </div>
          </div>
          {{form_input 'name' name 'loc.name' 'loc.name_tip'}}
          {{form_input 'alias' alias 'loc.alias' 'loc.alias_tip'}}
          {{form_input 'code' code 'loc.code' 'loc.code_tip'}}
          {{form_input 'parent_id' parent_id 'loc.parent' 'loc.parent_tip'}}
        {{/form_rows}}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">{{t 'save'}}</button>
            <small class="pull-right">
              <a class="text-muted" href="" data-op="toDestroy">{{t 'delete'}}</a>
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </form>
</div>

