<td>
  <input name="select" type="checkbox" name="">
</td>
<td class="uid">
  {{id}}
</td>
<td class="id">
  {{uid}}
</td>
<td class="name">
  <a href="/super/media/{{id}}">{{name}}</a>
</td>
<td class="desc">
  {{desc}}
</td>
<td class="oid">
  {{oid}}
</td>
