<td>
  <input name="select" type="checkbox" name="">
</td>
<td class="uid">
  {{id}}
</td>
<td class="id">
  {{uid}}
</td>
<td class="name">
  <a href="/super/user/{{id}}">{{name}}</a>
</td>
<td class="email">
  {{email}}
</td>
<td class="datetime">
  {{strftime created_at 'YYYY-MM-DD HH:mm:ss'}}
</td>
<td class="desc">
  {{desc}}
</td>
<td class="operations">
</td>
