{{#widget 'heading2' back='/super/users'}}
{{#set 'title'}}
  {{#if isNew}}
    {{t 'users.create'}}
  {{else}}
    {{t 'users.edit' name}}
  {{/if}}
{{/set}}
{{/widget}}
<div class="box">
  <form class="main-content edit-form form-horizontal" method="post">
    {{#form_rows 'sm' 2}}
      {{#if isNew}}
        {{form_input 'uid' uid 'login.username' 'user.uid_tip'}}
      {{else}}
        {{form_input 'uid' uid 'login.username' 'user.uid_tip' readonly='readonly'}}
        <div class="form-group" for="password">
          <label class="col-sm-2 control-label">{{t 'user.password'}}</label>
          <div class="col-sm-10">
            <div class="help-block">
              <a data-toggle="modal" href="#edit-password" class="edit-password">{{t 'modify'}}</a>
            </div>
          </div>
        </div>
      {{/if}}
      {{form_input 'name' name 'user.screen_name' 'user.screen_name_tip'}}
      {{form_input 'email' email 'email' 'user.email_tip'}}
      {{form_textarea 'desc' desc 'remark' 'user.desc_tip' rows=4}}
    {{/form_rows}}
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="form-message holded"></div>
        <button type="submit" class="btn btn-primary">{{t 'save'}}</button>
      </div>
    </div>
  </form>
</div>
{{#widget 'modal' id='edit-password'}}
  {{#set 'title'}}
  {{t 'user.modify_password_for' name}}
  {{/set}}
  <form class="form-horizontal" action="" method="post">
    {{#form_rows 'sm' 3}}
      {{form_input 'password' '' 'user.new_password' type='password'}}
      {{form_input 'password2' '' 'user.new_password2' type='password'}}
    {{/form_rows}}
  </form>
  {{#set 'footer'}}
  <button type="button" class="btn btn-default" data-dismiss="modal">{{t 'close'}}</button>
  <button type="button" class="btn btn-primary">{{t 'save'}}</button>
  {{/set}}
{{/widget}}
