<td class="uid">
  {{id}}
</td>
<td class="id">
  {{uid}}
</td>
<td class="name">
  <a href="{{url 'super/user#show' id}}">{{name}}</a>
</td>
<td class="email">
  {{email}}
</td>
<td class="datetime">
  {{strftime 'YYYY-MM-DD HH:mm:ss' created_at}}
</td>
<td class="desc">
  {{desc}}
</td>
<td class="operations">
</td>
