<ul class="list-group pattern-group">
  {{#each pattern}}
  <li class="list-group-item pattern-item {{#unless blur}}exact-match{{/unless}}" data-index="{{@index}}">
    <span class="keyword">{{text}}</span>
    <span class="pull-right ops">
      {{#if blur}}
        <a data-op="toggleMatch" data-blur="true" href="#">{{t 'rule.blur_match'}}</a>
      {{else}}
        <a data-op="toggleMatch" data-blur="false" href="#">{{t 'rule.exact_match'}}</a>
      {{/if}}
      <a data-op="editKeyword" href="#" class="lnk-icon" title="{{t ''}}" title="{{t 'rule.edit_keyword'}}">
        <span class="icon-pencil"></span>
      </a>
      <a data-op="deleteKeyword" href="#" class="lnk-icon" title="{{t 'rule.delete_keyword'}}">
        <span class="icon-remove"></span>
      </a>
    </span>
  </li>
  {{else}}
  <li class="list-group-item text-center">
    <a href="#" data-op="addKeyword">+ {{t 'rule.add_keyword'}}</a>
  </li>
  {{/each}}
</ul>

