<ul class="list-group pattern-group">
  {{#each pattern}}
  <li class="list-group-item pattern-item {{#unless blur}}exact-match{{/unless}}" data-index="{{@index}}">
    <span class="keyword">{{text}}</span>
    <span class="pull-right ops">
      {{#if blur}}
        <a data-op="toggleMatch" data-blur="true" href="#">{{t 'rule.blur_match'}}</a>
      {{else}}
        <a data-op="toggleMatch" data-blur="false" href="#">{{t 'rule.exact_match'}}</a>
      {{/if}}
      <a data-op="editKeyword" href="#" class="lnk-icon">
        <span class="icon-pencil"></span>
      </a>
      <a data-op="deleteKeyword" href="#" class="lnk-icon">
        <span class="icon-remove"></span>
      </a>
    </span>
  </li>
  {{/each}}
</ul>

