<div class="tab-content">
  <div id="reply{{index}}-text" class="tab-pane">
    <textarea class="form-control" name="handler" cols="40" rows="6" placeholder="{{t 'rule.input_reply'}}">
      {{~#compare replyType 'text' ~}}
        {{handler}}
      {{~/compare~}}
    </textarea>
  </div>
  <div id="reply{{index}}-image" class="tab-pane">
  </div>
  <div id="reply{{index}}-news" class="tab-pane">
    {{~#compare replyType 'news' ~}}
      {{include 'views/message-view/templates/news' news=handler.content }}
    {{~/compare~}}
    <button data-op="chooseNews" class="btn btn-default" type="button">
      {{t 'rule.choose_reply'}}
    </button>
  </div>
</div>

