<li class="box media {{type}} msgtype-{{content_type}} {{#if isEventMsg}}msgtype-event{{/if}}">
  {{#compare type "incoming"}}
    <a class="avatar pull-left" href="{{url 'subscriber#show' subscriber.id}}">
      <img class="media-object img-rounded" src="{{subscriber.avatar}}" alt="">
      <span class="name">{{any subscriber.name}}</span>
    </a>
  {{else}}
    <a class="avatar pull-right">
      <img class="media-object img-rounded" src="{{media.avatar}}" alt="">
      <span class="name">{{media.name}}</span>
    </a>
  {{/compare}}
  <div class="media-body">
    <div class="{{content_type}}">
      {{#compare content_type 'text'}}
        {{content}}
      {{/compare}}
      {{#compare content_type 'image'}}
        <img src="{{content.picUrl}}" alt="" class="img-thumbnail">
      {{/compare}}
      {{#compare content_type 'location'}}
        <p>{{t 'message.my_location'}}:</p>
        {{#with content.content}}
          <img src="{{mapImg lat lng}}" alt="{{label}}" class="img-thumbnail">
        {{/with}}
      {{/compare}}
      {{#compare content_type 'voice'}}
      {{/compare}}
      {{#compare content_type 'news'}}
        {{include 'views/message-view/templates/news' news=content}}
      {{/compare}}
      {{#compare content_type 'subscribe'}}
        <p>{{t 'message.subscribed'}}
      {{/compare}}
      {{#compare content_type 'unsubscribe'}}
        <p>{{t 'message.unsubscribed'}}
      {{/compare}}
    </div>
    <p class="time">
      {{strftime 'LLL' created_at showInvalid=true}}
    </p>
  </div>
</li>
