<li class="box media {{type}}">
  {{#compare type "incoming"}}
    <a class="avatar pull-left" href="{{url 'subscriber#show' subscriber.id}}">
      <img class="media-object img-rounded" src="{{subscriber.avatar}}" alt="">
      <span class="name">{{any subscriber.name subscriber.oid}}</span>
    </a>
  {{else}}
    <a class="avatar pull-right">
      <img class="media-object img-rounded" src="{{media.avatar}}" alt="">
      <span class="name">{{media.name}}</span>
    </a>
  {{/compare}}
  <div class="media-body">
    <div class="{{content_type}}">
      {{#compare content_type 'text'}}
        {{content.content}}
      {{/compare}}
      {{#compare content_type 'image'}}
        <img src="{{content.content.picUrl}}" alt="" class="img-thumbnail">
      {{/compare}}
      {{#compare content_type 'location'}}
        <p>{{t 'messages.mylocation'}}:</p>
        {{#with content.content}}
          <img src="{{mapImg lat lng}}" alt="{{label}}" class="img-thumbnail">
        {{/with}}
      {{/compare}}
      {{#compare content_type 'voice'}}
      {{/compare}}
      {{#compare content_type 'news'}}
        {{#compare content.content.length '>' 1}}
          <div class="news-message multi">
            {{#each content.content}}
              <a href="{{url}}">
                <h3 class="title">{{title}}</h3>
                <div class="pic">
                  <img src="{{picUrl}}" alt="">
                </div>
              </a>
            {{/each}}
          </div>
        {{else}}
          <div class="news-message">
            {{#each content.content}}
              <a href="{{url}}">
                <h3 class="title">{{title}}</h3>
                <div class="time">
                  {{strftime 'MMM Do' created_at}}
                </div>
                <div class="pic">
                  <img src="{{picUrl}}" alt="">
                </div>
                {{#if description}}
                <div class="description">
                  {{description}}
                </div>
                {{/if}}
                <div class="view-full">
                  {{t 'message.view_full'}}
                  <i class="icon-arrow-right"></i>
                </div>
              </a>
            {{/each}}
          </div>
        {{/compare}}
      {{/compare}}
    </div>
    <p class="time">
      {{strftime 'fromnow' created_at showInvalid=true}}
    </p>
  </div>
</li>
