<div class="rule-item panel panel-default" id="rule-{{index}}">
  <div class="panel-heading">
    {{t title}}
    <input type="hidden" name="pattern" class="form-control input-sm" value="{{pattern}}">
  </div>
  <div class="panel-body">
    <input type="hidden" name="pattern" value="{{pattern}}">
    <div class="form-group">
      <div class="col-sm-12">
        {{include 'views/responder-view/templates/rule/mod/reply'}}
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-sm btn-primary" type="submit">{{t 'save'}}</button>
    <button class="btn btn-sm btn-default" type="submit" value="delete">{{t 'delete'}}</button>
  </div>
</div>

