<div class="rule-item panel panel-default" id="rule-{{index}}">
  <div class="panel-heading">
    {{t 'rule.ptitle' index name}}
    <div class="hidden form-inline name-input">
      {{t 'name'}}
      <input type="text" name="name" class="form-control input-sm" value="{{name}}">
    </div>
  </div>
  <div class="panel-body">
    <p class="tip text-muted">
    {{t 'autoreply.subscribe.tip'}}
    </p>
    <input type="hidden" name="pattern" value="{{pattern}}">
    <div class="form-group">
      <div class="col-sm-12">
        {{include 'views/responder-view/templates/rule/mod/reply'}}
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-sm btn-primary" type="submit">{{t 'save'}}</button>
    <button class="btn btn-sm btn-default" type="submit" value="delete">{{t 'delete'}}</button>
  </div>
</div>

