{{#widget 'modal' id='edit-password'}}
  {{#set 'title'}}
  {{t 'user.modify_password_for' name}}
  {{/set}}
  <form class="form-horizontal" action="" method="post">
    {{#form_rows 'sm' 3}}
      {{form_input 'password' '' 'user.new_password' type='password'}}
      {{form_input 'password2' '' 'user.new_password2' type='password'}}
    {{/form_rows}}
  </form>
  {{#set 'footer'}}
  <button type="button" class="btn btn-default" data-dismiss="modal">{{t 'close'}}</button>
  <button type="button" class="btn btn-primary">{{t 'save'}}</button>
  {{/set}}
{{/widget}}

