<td>
  <a class="avatar" href="{{url 'subscriber#show' id}}"><img class="img-rounded" src="{{avatar}}" alt=""></a>
  <a title="{{name}}" href="{{url 'subscriber#show' id}}">
    {{name}}
  </a>
</td>
<td class="city">
  {{full_city}}
</td>
<td class="sex">
  {{sex}}
</td>
<td class="datetime">
  {{strftime 'YYYY-MM-DD HH:mm:ss' created_at}}
</td>
<td class="datetime">
  {{strftime 'YYYY-MM-DD HH:mm:ss' updated_at}}
</td>
<td>
  {{#if subscribe}}
    {{t 'subscriber.subscribed'}}
  {{else}}
    {{t 'subscriber.unsubscribed'}}
  {{/if}}
</td>
