<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{site_url}}">
      {{t 'site.name'}}
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar-collapse-1" class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{t 'welcome'}}, {{user.name}} <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu">
        {{#if is_super}}
          {{#unless in_super}}
            <li><a href="/super">{{t 'super.title'}}</a></li>
          {{/unless}}
        {{/if}}
        <!--<li class="divider"></li>-->
        <li><a href="/logout">{{t 'logout'}}</a></li>
      </ul>
      </li>
    </ul>
  </div>
</div>
