<li class="media {{type}}">
  {{#compare type "incoming"}}
    <a class="avatar pull-left" href="{{url 'subscriber#show' subscriber.id}}">
      <img class="media-object img-rounded" src="{{subscriber.avatar}}" alt="">
      <span class="name">{{any subscriber.name subscriber.oid}}</span>
    </a>
  {{else}}
    <a class="avatar pull-right">
      <img class="media-object img-rounded" src="{{media.avatar}}" alt="">
      <span class="name">{{media.name}}</span>
    </a>
  {{/compare}}
  <div class="media-body">
    <div class="{{contentType}}">
      {{#compare contentType 'text'}}
        {{content.content}}
      {{/compare}}
      {{#compare contentType 'image'}}
        <img src="{{content.content.picUrl}}" alt="" class="img-thumbnail">
      {{/compare}}
      {{#compare contentType 'location'}}
        <p>{{t 'messages.mylocation'}}:</p>
        {{#with content.content}}
          <img src="{{mapImg lat lng}}" alt="{{label}}" class="img-thumbnail">
        {{/with}}
      {{/compare}}
      {{#compare contentType 'voice'}}
      {{/compare}}
      {{#compare contentType 'news'}}
        {{#compare content.content.length '>' 1}}
          <div class="news-message-multi">
            {{#each content.content}}
              <a class="thumbnail" href="{{url}}">
                <h3 class="title">{{title}}</h3>
                <img src="{{picUrl}}" alt="">
              </a>
            {{/each}}
          </div>
        {{else}}
          <div class="news-message">
            {{#each content.content}}
              <a class="thumbnail" href="{{url}}">
                <h3 class="title">{{title}}</h3>
                <img src="{{picUrl}}" alt="">
                <div class="description">
                  {{description}}
                </div>
              </a>
            {{/each}}
          </div>
        {{/compare}}
      {{/compare}}
    </div>
    <p class="time">
      {{strftime 'fromnow' created_at showInvalid=true}}
    </p>
  </div>
</li>
