<div class="section-bar">
    {{t 'rule.keywords'}}
</div>
<ul class="list-group">
  {{#each pattern}}
  <li class="list-group-item">
    <span class="text">
      {{text}}
    </span>
    <span class="pull-right ops">
      {{#if blur}}
        <a data-op="toggle" data-blur="true" href="#">{{t 'rule.blur_match'}}</a>
      {{else}}
        <a data-op="toggle" data-blur="false" href="#">{{t 'rule.exact_match'}}</a>
      {{/if}}
      <a data-op="edit" href="#">
        <span class="icon-pen"></span>
      </a>
      <a data-op="delete" href="#">
        <span class="icon-delete"></span>
      </a>
    </span>
  </li>
  {{/each}}
</ul>
