<div class="section-bar">
  <span class="section-title">
  {{t 'rule.reply'}}
  </span>
  {{include 'views/rules-view/templates/rule/mod/reply_tabs'}}
</div>
<div class="tab-content">
  <div data-type="text" id="reply{{index}}-text" class="tab-pane">
    <textarea class="form-control" name="handler" cols="40" rows="6" placeholder="{{t 'rule.input_reply'}}">
      {{~#compare replyType 'text' ~}}
        {{handler}}
      {{~/compare~}}
    </textarea>
  </div>
  <div data-type="image" id="reply{{index}}-image" class="tab-pane">
    {{~#compare replyType 'image' ~}}
      {{include 'views/message-view/templates/content/image'}}
    {{~/compare~}}
    <button data-op="chooseImage" class="btn btn-default" type="button">
      <span class="icon-image"></span>
      {{t 'rule.choose_image'}}
    </button>
  </div>
  <div data-type="news" id="reply{{index}}-news" class="tab-pane">
    {{~#compare replyType 'news' ~}}
      {{include 'views/message-view/templates/content/news' content=handler.content }}
    {{~/compare~}}
    <button data-op="chooseNews" class="btn btn-default" type="button">
      {{t 'rule.choose_reply'}}
    </button>
  </div>
</div>

