<table class="table table-striped">
  <colgroup>
    <col>
    <col width="35%">
    <col width="15%">
  </colgroup>
  <tr>
    <th>
      {{t 'user.name'}}
    </th>
    <th>
      {{t 'media.admin.role'}}
    </th>
    <th>
    </th>
  </tr>
  {{#each admins}}
  <tr class="norm-row">
    <td>
      <a href="{{url 'super/user#show' id}}" target="_blank">{{name}}</a>
      {{#if uid}}
      ({{uid}})
      {{/if}}
      <input data-datum="{{json this}}" type="hidden" name="user_id" value="{{id}}">
    </td>
    <td>
      {{widget 'form/select' name='role' value=role options=../consts.MEDIA_ROLES}}
    </td>
    <td align="right">
      <a class="btn btn-danger delete">
        <span class="icon-remove"></span>
      </a>
    </td>
  </tr>
  {{/each}}
  <tfoot>
  <tr class="dup-row hidden">
    <td>
      <input name="user_id" class="form-control typeahead" type="text" placeholder="{{t 'media.admin.type_to_search'}}"
         autocomplete="off" spellcheck="false" dir="auto">
    </td>
    <td>
      {{widget 'form/select' name='role' options=consts.MEDIA_ROLES}}
    </td>
    <td align="right">
      <a class="btn btn-danger delete">
        <span class="icon-remove"></span>
      </a>
    </td>
  </tr>
  <tr class="add-row">
    <td colspan="3">
      <a class="btn btn-default add">
        <span class="icon-plus2"></span>
        {{t 'add'}}
      </a>
    </td>
  </tr>
  </tfoot>
</table>
