<td class="uid">
  {{id}}
</td>
<td class="id">
  <a class="to-admin" href="/">{{uid}}</a>
</td>
<td class="name">
  <a class="to-admin" href="/">{{name}}</a>
</td>
<td class="oid">
  {{oid}}
</td>
<td class="admins">
  {{#if admins}}
    {{widget 'links' route='super/user#show' items=admins sep=','}}
  {{else}}
    <a class="link" href="#assign-admin">[+{{t 'add'}}]</a>
  {{/if}}
</td>
<td class="op-btns">
  <a class="btn btn-xs btn-info" href="{{ url 'super/media#show' id }}">{{t 'edit'}}</a>
  <button data-op="toDestroy" class="btn btn-xs btn-default" type="button">
    <span class="icon-remove"></span>
  </button>
</td>
