<td class="uid">
  {{id}}
</td>
<td class="id">
  <a href="{{url 'super/media#show' id}}">{{uid}}</a>
</td>
<td class="name">
  <a href="{{url 'super/media#show' id}}">{{name}}</a>
</td>
<td class="oid">
  {{oid}}
</td>
<td class="admins">
  {{#if admins}}
    {{widget 'links' route='super/user#show' items=admins sep=','}}
  {{else}}
    <a class="link" href="#assign-admin">[+{{t 'add'}}]</a>
  {{/if}}
</td>
<td class="op-btns">
  <a class="to-admin btn btn-xs btn-info" href="/">{{t 'medias.dashboard'}}</a>
  <button class="to-delete btn btn-xs btn-default" type="button">
    <span class="icon-remove"></span>
  </button>
</td>
