{{! links for a router }}
{{#each items}}
<a
  {{#if ../route}}
    href="{{url ../../route id}}"
  {{else}}
    href="{{any ../url ../../href}}"
  {{/if}}
  {{../metas}}>{{attr 'name' 'title' 'uid'}}</a>
{{#unless @last}}
  <span class="sep">
  {{{../../sep}}}
  </span>
{{/unless}}
{{/each}}

