<div class="loc-selector">
  <select id="sel-country" name="loc">
    <option value="{{id}}">{{t 'loc.to_select'}}</option>
    {{#each items}}
      <option value="{{id}}">{{name}}</option>
    {{/each}}
  </select>
  <select id="" name="">
    <option value="">{{t 'loc.to_select'}}</option>
  </select>
</div>
