{{~#each nav~}}
<li data-name="{{name}}">
  {{#if this.url}}
  <a href="{{this.url}}" title="{{t title}}">
    {{#if icon}}<span class="icon-{{icon}}"></span>{{/if}}
    {{t name}}
  </a>
  {{else}}
    <a>
      {{#if icon}}<span class="icon-{{icon}}"></span>{{/if}}
      {{t name}}
    </a>
  {{/if}}
{{~/each~}}
