{{#widget 'heading2' title='channels.index.h1'}}
  {{#if total}}
    <a data-op="toCreate" class="btn btn-sm btn-primary">
      <i class="icon-plus22"></i>
      {{t 'create'}}
    </a>
  {{/if}}
  <form class="form-inline pull-right search-sm" action="">
    <input class="form-control input-sm" type="text" name="q" placeholder="{{t 'search'}}">
    <button class="btn btn-sm"><i class="icon-search"></i></button>
  </form>
{{/widget}}
<div class="row list channel-list">
</div>
<div class="placeholder">
  <div class="loading-indicator spinner spinner30">
    <!--{{t 'loading'}}-->
  </div>
</div>
<div class="fallback big-box">
  <p class="text-muted">
  {{t 'channels.there_is_none'}}
  </p>
  <br>
  <a class="btn btn-primary btn-md" data-op="toCreate">{{t 'channels.create_one_now'}}</a>
</div>
