<li class="media box">
  <a class="pull-left" href="">
    <img src="{{qrcode_url}}" alt="">
  </a>
  <div class="media-body">
    <dl class="dl-horizontal">
      <dt>{{t 'channel.name'}}</dt>
      <dd>{{name}}</dd>
      <dt>{{t 'channel.scene_id'}}</dt>
      <dd>{{scene_id}}</dd>
    </dl>
  </div>
</li>
