<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="box">
    <a class="pull-left" href="{{url 'channel#show' id}}">
      <img class="qrcode" src="{{qrcode_url}}" alt="">
    </a>
    <div class="media-body">
      <div class="ops">
        <a target="_blank" href="{{qrcode_url}}" download="qrcode-{{scene_id}}.jpg" title="download">
          <i class="icon-download"></i>
        </a>
        <a href="{{url 'channel#show' id}}">
          <i class="icon-file"></i>
          <!--{{t 'detail'}}-->
        </a>
        <a href="" data-op="toDestroy">
          <i class="icon-remove"></i>
          <!--{{t 'delete'}}-->
        </a>
      </div>
      <h5 class="title">
        <span class="text-muted scene-id">
          {{scene_id}}
        </span>
        {{name}}
      </h5>
    </div>
  </div>
</div>
