{{#widget 'heading2' back='/channels'}}
{{#set 'title'}}
  {{#if isNew}}
    {{t 'channels.create'}}
  {{else}}
    {{t 'channels.edit' name}}
  {{/if}}
{{/set}}
{{/widget}}
<div class="box">
  <div class="rows">
    <div class="col-md-10">
      <form class="main-content edit-form form-horizontal" method="post">
        {{#form_rows 'sm' 2}}
        <div class="form-group">
          <label class="col-sm-2 control-label">
            {{ t 'channel.qrcode_img' }}
          </label>
          <div class="col-sm-10">
            <a href="{{qrcode_url}}" download="qrcode-{{scene_id}}.jpg">
              <img class="qrcode qrcode-150" src="{{qrcode_url}}" alt="">
            </a>
          </div>
        </div>
        {{form_input 'name' name 'name' 'channel.name_tip'}}
        {{form_textarea 'desc' desc 'desc' 'channel.desc_tip'}}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="form-message holded"></div>
            <button type="submit" class="btn btn-primary">{{t 'save'}}</button>
          </div>
        </div>
        {{/form_rows}}
      </form>
    </div>
  </div>
</div>

