{{#widget 'heading2' title='menu'}}
{{/widget}}
<style id="wx-editor-style-inline"></style>
<div class="big-box wx-menu-editor">
  <div class="row">
    <div class="col-sm-6">
      <div class="wx-window">
        <div class="wx-window-watermark">
          {{t 'wx.window.placeholder'}}
        </div>
        <ul id="wx-menu-buttons" class="wx-mainmenu">
        </ul>
      </div>
      <div class="action-buttons">
        <button class="pull-left btn btn-sm btn-default" data-op="toAddButton">+ {{t 'menu.main.add'}}
          (<span class="wx-menu-room-left">3</span>)</button>
        <div class="pull-right">
          <button class="btn btn-sm btn-primary" data-op="save">{{t 'save'}}
          </button>
          <button class="btn btn-sm btn-default" data-op="reset">
            {{t 'reset'}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="help-text">
        <h4>{{t 'menu.help'}}</h4>
        {{t 'menu.help_text'}}
      </div>
    </div>
  </div>
</div>

