<!--创建菜单实例2-->
<script type="text/template" id="main_menu_item_template">
  <li class="main_menu_item">
    <label>{{t 'menu.main_menu'}}</label>
  </li>
  <p class="menu_item_console">
    <a><img src="/images/edit.png" /></a>
    <a><img src="/images/delete.png" /></a>
  </p>
  <input type="text" class="menu_edit" />
</script>
<script type="text/template" id="sub_menus_container_template">
  <div class="sub_menus">
  </div>
</script>
<script type="text/template" id="sub_menu_item_template">
  <li class="sub_menu_item">
    <label>{{t 'menu.sub_menu'}}</label>
  </li>
  <p class="menu_item_console">
    <a><img src="/images/edit.png" /></a>
    <a><img src="/images/delete.png" /></a>
  </p>
  <input type="text" class="menu_edit" />
</script>
<script type="text/template" id="sub_menus_template">
  <a class="add_sub_menu_button">+{{t 'menu.add'}}</a>
</script>
<div class="menu_main_container">
  <h3>{{t 'menu'}}</h3>
  <div class="menu_top_console">
    <button class="btn btn-sm btn-primary" data-op="save">{{t 'menu.save'}}
    </button>
    <button class="btn btn-sm btn-default" data-op="reset">
      {{t 'menu.reset'}}
    </button>
  </div>
  <div class="menus_container">
    <div class="main_menu_container">
      <label class="main_menu_title">{{t 'menu.main_menu'}}:</label>
      <div class="main_menus">
        
      </div>
      <a class="add_main_menu_button">+{{t 'menu.add'}}</a>
    </div>
  </div>
  <!--
  <div class="console_bar">
    <label>操作:</label>
    <input id="save_and_submit_btn" type="button" value="提交保存" />
    <input id="reset_btn" type="button" value="重置" />
  </div>
  -->
</div>