<div class="menu_prop">
  <label>{{t 'menu.prop'}}:</label>
  <div>
    <ul>
      <li>{{t 'menu.label'}}:</li>
      <li>{{t 'menu.type'}}:</li>
      <li>{{t 'menu.value'}}:</li>
    </ul>
    <div>
      <li>
        <input id="menu_label" type="text" />
      </li>
      <p>
        <input name="menu_type" checked="checked" type="radio" value="click">{{t 'menu.keyword'}}</input>
        <input name="menu_type" type="radio" value="view">{{t 'menu.url'}}</input>
      </p>
      <li>
        <input id="menu_value" type="text" />
      </li>
      <li>
        <button id="save_menu_item_prop_btn"class="btn btn-primary">{{t 'menu.save'}}</button>
      </li>
    </div>
    <!--
    <p>
      <a id="menu_pos_up">上移</a>
      <a id="menu_pos_left">左移</a>
      <a id="menu_pos_right">右移</a>
      <a id="menu_pos_bottom">下移</a>
    </p>
    -->
  </div>
</div>