<div class="rule-item panel panel-default" id="rule-{{index}}">
  <div class="loading-indicator loading-overlay">
    <div class="spinner spinner30"></div>
  </div>
  <div class="panel-heading">
    {{ptitle}}
    <input type="hidden" name="pattern" class="form-control input-sm" value="{{pattern}}">
  </div>
  <div class="panel-body">
    <input type="hidden" name="pattern" value="{{pattern}}">
    <div class="rule-reply"></div>
  </div>
  <div class="panel-footer">
    <button data-op="saveRule" class="btn btn-sm btn-primary" type="submit">{{t 'save'}}</button>
  </div>
</div>

