<select id="inp-{{name}}" name="{{name}}" class="{{any className 'form-control'}}">
  {{#each options}}
    <option value="{{value}}">
      {{#if text}}
        {{t text}}
      {{else}}
        {{ttext}} {{!translated text}}
      {{/if}}
    </option>
  {{/each}}
</select>
