<div class="form-group" for="{{name}}">
  {{#if label}}
    <label for="input-{{name}}" class="{{label_cls}} control-label">{{label}}</label>
  {{/if}}
  <div class="{{row_cls}}">
    <textarea {{{attrs}}}>{{value}}</textarea>
    <div class="help-block form-tip" for="{{name}}">{{{t tip}}}</div>
  </div>
</div>



