{{#widget 'modal' id='confirm-modal' class=modal_class}}
  {{#if message}}
    <h4>
      {{{message}}}
    </h4>
  {{/if}}
  {{#if detail}}
    <div class="detail">
    {{{detail}}}
    </div>
  {{/if}}
  {{#set 'footer'}}
    {{#if cancel_button}}
    <button type="button" class="btn {{cancel_button_class}}" data-op="toCancel">{{cancel_button}}</button>
    {{/if}}
    {{#if confirm_button}}
    <button type="submit" class="btn {{confirm_button_class}}" data-op="toConfirm">{{confirm_button}}</button>
    {{/if}}
  {{/set}}
{{/widget}}


