<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{when in_super '/super/medias' site_url}}">
      <i></i>
      <span>{{t 'site.name'}}</span>
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="header-navbar" class="navbar-collapse collapse navbar-default-collapse">
    {{#unless in_super}}
      <ul class="nav navbar-nav">
        {{#if all_admins}}
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="current-media">
              {{media.name}}
            </span>
            <b class="icon-arrow-down"></b></a>
            <ul class="dropdown-menu toggle-media" role="menu">
              {{#each all_admins}}
              <li><a href="" data-media="{{media.id}}">{{media.name}} ({{media.uid}})</a></li>
              {{/each}}
            </ul>
          </li>
        {{else}}
          <li><a href="/">{{media.name}}</a>
        {{/if}}
      </ul>
    {{/unless}}
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{g 'header.hello' user.name}} <b class="icon-arrow-down"></b></a>
      <ul class="dropdown-menu" role="menu">
        {{#if is_super}}
          {{#unless in_super}}
            <li><a href="/super/medias">{{t 'super.title'}}</a></li>
          {{/unless}}
        {{/if}}
        <!--<li class="divider"></li>-->
        <li><a href="/logout">{{t 'logout'}}</a></li>
      </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-earth"></b></a>
        <ul class="dropdown-menu toggle-locale">
          {{#each consts.LOCALES}}
            <li><a href="#" data-locale="{{@key}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</div>
