<div class="container">
<div class="alert alert-{{category}}">
  {{#if title}}
    <h1>{{title}}</h1>
  {{/if}}
  {{#if detail}}
    <div class="error-detail">
      {{{detail}}}
    </div>
  {{/if}}
  <div class="error-detail">
    {{#if user.isSuper}}
      <a href="/super" class="noscript">&raquo; {{t 'error.gosuper'}}</a> &nbsp;&nbsp;
    {{/if}}
    {{#compare code '!=' 'bootfail'}}
      <a data-op="goback" href="javascript:histroy.go(-1)">&raquo; {{t 'error.goback'}}</a>
    {{/compare}}
  </div>
</div>
</div>
